{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="../static/bootstrap/scss/bootstrap.css" rel="stylesheet">

</head>

<body>
    {% include 'navabarTop.html' %}

    <div class="row m-5">
        <div class="col-md-6 col-12  text-center">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15088.395982986882!2d-98.25415926770155!3d19.01535893792241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc74296a8201f%3A0x8888d7339559ccd4!2sInstituto%20Tecnol%C3%B3gico%20y%20de%20Estudios%20Superiores%20de%20Monterrey%2C%20Campus%20Puebla!5e0!3m2!1ses-419!2smx!4v1666908528630!5m2!1ses-419!2smx"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

        <div class="col-md-6 col-12  text-center">
            <h3>Jorge Antonio Reyes Avendaño</h3>
            <h3>jareyesa@tec.mx</h3>
            <h3>Atlixcáyotl 5718, Reserva Territorial Atlixcáyotl, 72453 Puebla, Pue.</h3>
        </div>

    </div>

    {% include 'footer.html' %}

</body>