{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">



    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/scss/bootstrap.css" rel="stylesheet">
    <link rel=" stylesheet" href="{% static 'masterSCSS/globalMaster.css' %}">

    <!-- Custom styles for this template -->
</head>

<body>


    {% block body %}
    {% include 'navabarTop.html' %}

    <div class="container marketing mt-5">
        {% for panel in panels %}
        <hr class="featurette-divider">
        {% if forloop.counter|divisibleby:2 %}
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"> {{panel.title}} </h2>
                <p class="lead"> {{panel.description|linebreaks}} </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                    style="width: 500px; height: 500px;" src="{{ panel.picture.url }}"
                    data-holder-rendered="true">
            </div>
        </div>
        {% else %}
        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                    style="width: 500px; height: 500px;" src="{{ panel.picture.url }}"
                    data-holder-rendered="true">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading"> {{panel.title}} </h2>
                <p class="lead"> {{panel.description|linebreaks}} </p>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <hr class="featurette-divider">
        <h2 class="featurette-heading text-center"> Ejemplo video </h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item mx-auto d-block" width="640px" height="360px" src="https://drive.google.com/file/d/1XoAcA4Feq3vd4ip8klZr7eX3_gmVX1Uq/preview"  allow="autoplay"></iframe>
        </div>

        </div>
        {% include 'footer.html' %}

        {% endblock %}






</body>

</html>
