{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="../static/bootstrap/scss/bootstrap.css" rel="stylesheet">
    
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel=" stylesheet" href="{% static 'bootstrap/scss/bootstrap.css' %}">


    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

</head>

<body data-new-gr-c-s-check-loaded="14.1024.0" data-gr-ext-installed="">

    {% include 'navabarTop.html' %}
        <div class="container marketing mt-4">
<div class = "row">
           {% for member in members %}
                <div class="col-4 p-2 justify-content.center">

                    <div class="card " style="width: 300px;">
                        <img src="{{member.profilePicture.url}}" class=""  style="width: 300px; height: 300px;" alt="...">
                        <div class="card-body">
                          <h6 class="card-title">{{member.name}}</h6>
                          <p class="card-text">{{member.description}}</p>
                        </div>
                      </div>
                </div>
                {% endfor %}

            </div>

            

        </div>

        {% include 'footer.html' %}


</body>

</html>
